*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(235, 228, 228);
    font-family: monospace;
  
    padding: 10px 30px;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav1 h6{
    font-size: 17px;
    width: 50px;
}
img{
    width: 30px;
    height: 40px;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.nav2 h5{
    font-size: 20px;
    display: none;
    
}
@media (max-width:600px) {
    nav{
      background-color: darkcyan;
    }
    .nav1 h6{
        font-size: 11px;
    }
    .nav1 img{
        height: 38px;
    }
    .nav2 h4{
        display: none;
    }
    .nav2 h5{
        display: block;
    }
}