*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
    color: rgb(224, 217, 217);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(235, 228, 228);
    font-family: monospace;
    font-weight: 100;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
}
.nav1 h6{
    font-size: 17px;
   
}
img{
    width: 50px;
    height: 60px;
}
.nav2{
    display: flex;
    align-items: center;
    
    gap: 20px;
    
}
.nav2 h5{
    font-size: 16px;
    display: none;
    font-weight: 100;
    
}


@media (max-width:555px) {
    nav{
        padding: 10px;
    }
    
    .nav1 h6{
        font-size: 11px;
    }
    .nav1 img{
        width: 30px;
        height: 38px;

    }
    .nav2 h4{
        display: none;
    }
    .nav2 h5{
        display: block;
    }
}
main{
    padding-top: 100px;
}
.section1{
display: flex;
align-items: flex-start;
justify-content: space-between;

}
.left{
    background-color: red;
}
.right{
    background-color: red;
}