*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}

#parent{
    width: 60%;
    height: 60%;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#child1{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
#child2{
    width: 100px;
    height: 100px;
    background-color: rgb(138, 229, 19);
}
#child3{
    width: 100px;
    height: 100px;
    background-color: rgb(6, 29, 134);
}