*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;

}
nav{
    width: 100%;
    height: 40px;
    display:flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#parent{
    width: 100%;
    height: 100%;
    background-color: crimson;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
   
}
#child1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid white;
    align-self: center;
    justify-self: center;
}
#child2{
    /* width: 100px;
    height: 100px; */
    background-color: rgb(138, 229, 19);
    border: 2px solid white;
}
#child3{
    /* width: 100px;
    height: 100px; */
    background-color: rgb(6, 29, 134);
    border: 2px solid white;
}
#child4{
    width: 100px;
    height: 100px;
    background-color: rgb(221, 227, 187);
    border: 2px solid white;
}