body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

li {
  margin-top: 10px;
  cursor: pointer;
}
