*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
}
#box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}
@media (max-width: 700px) {
    #box{
        background-color: yellow;
    }
    body{
        background-color: rgba(241, 233, 140, 0.688);
    }
}
@media (max-width: 500px) {
    #box{
        background-color: rgb(18, 8, 207);
    }
    body{
        background-color: rgb(231, 227, 247);
    }
}